[submodule "gr-bitslice"]
	path = gr-bitslice
	url = https://github.com/crasu/gr-bitslice.git
[submodule "gr-manchesterpdu"]
	path = gr-manchesterpdu
	url = https://github.com/crasu/gr-manchesterpdu.git
[submodule "lightwatch"]
	path = lightwatch
	url = https://github.com/crasu/lightwatch
[submodule "gr-mqtt"]
	path = gr-mqtt
	url = git@github.com:crasu/gr-mqtt.git
